body {
  margin: 0;
  background-color: #f4f4f4;
}

div {
  background-size: cover;
}

.navbar {
  display: flex;
  color: #ffffff;
  background: linear-gradient(to right, #6a5acd, #ffdd57);
  padding: 0.02em;
  min-height: 20px;
  font-family: 'Georgia', serif;
  font-size: large;
  width: 100%;
  height: 150px;
  align-items: center;
  justify-content: space-between;
}

.home-container,
.about-container,
.auth-container {
  margin: 40px auto;
  padding: 30px;
  border: 2px solid #6a5acd;
  border-radius: 10px;
  background-color: #fffbe6;
  max-width: 800px;
}

h1,
h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  text-align: center;
  color: #6a5acd;
  font-family: 'Righteous', sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounceIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

p {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
  color: #333;
  font-family: "Lexend Deca", sans-serif;

}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  margin-left: 0.5em;
  height: 80px;
  margin-right: 0.5em;
  font-family: "Lexend Deca", sans-serif;
 
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  background: linear-gradient(to right, #6a5acd, #ffdd57);
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 5px;
}

.park-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  flex-wrap: wrap;
}

.parks-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.park-item {
  border: 2px solid #6a5acd;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  margin: 20px;
  box-sizing: border-box;
  max-width: 300px;
}

.park-item:hover {
  background-color: #ffebcd;
  transform: scale(1.05);
}

.park-link {
  display: block;
  padding: 10px;
  text-decoration: solid;
  color: #6a5acd;
}

.park-details {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #6a5acd;
  border-radius: 20px;
  background-color: #ffffff;
}

.park-details h2 {
  margin-top: 0;
  color: #6a5acd;
}

.park-details p {
  margin: 6px 0;
  color: #333;
}

.auth-container {
  max-width: 100%;
  margin: 8rem;
  padding: 50px;
  background-color: #ffffff;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.password-input-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: grid;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='password'] {
  width: 200px;
  height: 50px;
  padding: 15px;
  border: 2px solid #6a5acd;
  border-radius: 8px;
  background-color: #fff 0.2;
}

button {
  background-color: #ffdd57;
  color: #6a5acd;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-family: "Lexend Deca", sans-serif;
 
}

button:hover {
  background-color: #ffd700;
}

.about-container {
  margin: 40px;
  padding: 50px;
  border: 2px solid #6a5acd;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: center;
}

.home {
  position: relative;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 50px 20px;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('https://images6.alphacoders.com/372/372198.jpg');
  background-size: cover;
  z-index: 0;
}

.home > * {
  position: relative;
  z-index: 1;
}

.home h1 {
  color: #ffdd57;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  animation: bounceIn 1s ease forwards;
}

.home h3 {
  font-family: 'Righteous', sans-serif;
  font-weight: 200;
  font-style: normal;
  animation: fadeIn 1s ease forwards;
  opacity: 0; /* Start hidden */
  animation-delay: 0.5s;
}

.home p {
  color: #613a7d;
  text-shadow: none;
  animation: fadeIn 1s ease forwards;
  opacity: 0; /* Start hidden */
  animation-delay: 1s;
}

.dark-mode {
  background-color: #333;
  color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5em;
  }

  .home-container,
  .about-container,
  .auth-container {
    margin: 20px;
    padding: 20px;
  }

  h1,
  h2 {
    font-size: 2em;
  }

  button {
    width: 100%;
  }

  .park-item {
    flex: 1 1 100%;
    max-width: none;
  }
}

.typing-effect {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.textbox {
  width: 650px;
  height: auto;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}


